Base
Speaker
Organizer
Reviewer
RegistrationUserActivity
RegistrationSpeakerActivity
RegistrationOrganizerActivity
ActivityMainTrack
ReportsFrequencyperEvent
ReportsFrequencyperActivity
ReportsListofAuthors
EventImportantDates
EventProgram
Receipt
Notification
NotificationsDeadline
NotificationsAceptanceRejection
NotificationsPaperAssignemnt
BugTrack
Payment
