Base
Submission
SubmissionCompleta
SubmissionParcial
Speaker
Organizer
Reviewer
RegistrationUserActivity
RegistrationSpeakerActivity
RegistrationOrganizerActivity
ActivityMainTrack
ReportsFrequencyperEvent
ReportsFrequencyperActivity
ReportsListofAuthors
EventImportantDates
EventProgram
Receipt
ReviewRoundofReview
Assignmentautomatic
ConflictofinterestAutomatic
Notification
NotificationsDeadline
NotificationsAceptanceRejection
NotificationsPaperAssignemnt
InsertAuthors
BugTrack
Payment
Review
